<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml" />
  <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

  <springProfile name="local, test">
    <root level="INFO">
      <appender-ref ref="CONSOLE" />
    </root>
  </springProfile>

  <springProfile name="develop, staging, production">
    <include resource="logback/appender.xml"/>
    <root level="INFO">
      <appender-ref ref="ASYNC_APP_LOG_FILE"/>
    </root>
  </springProfile>

</configuration>
